@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container">
    <br />

    <div class="row mt-2">
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    dsfsdf
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-7">
                                    <div class="input-group">
                                        Search
                                    </div>
                                </div>
                                <div class="col-4 offset-1">
                                    sdf
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped mt-3 roles-table" summary="Roles list">
                                table
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    PermissionSaveMessage
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-7">
                                    <div class="input-group">
                                        Search BtnCreate
                                    </div>
                                </div>

                                <div class="col-5">
                                    asasdsad
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped mt-3 permissions-table" summary="List of permissions">
                                Permission grid table
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 mt-2">
            <div class="card">
                <div class="card-body">

                    <div class="alert alert-success alert-dismissible" role="alert">
                        button
                    </div>
                    <div class="rightSide">
                        <form method="get">
                            <p>
                                <input type="text" asp-for="SearchString" />
                                @*   onkeyup="searchItems(event)"*@
                                <input type="submit" value="Search" />

                            </p>
                        </form>
                    </div>
                    <form method="post">


                        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    @{
                                        string firstNameSortAscClass = ViewData["FirstNameSort"].ToString() == "firstname_asc" ? "active" : "inactive";
                                        string firstNameSortDescClass = ViewData["FirstNameSort"].ToString() == "firstname_desc" ? "active" : "inactive";
                                        string lastNameSortAscClass = ViewData["LastNameSort"].ToString() == "lastname_asc" ? "active" : "inactive";
                                        string lastNameSortDescClass = ViewData["LastNameSort"].ToString() == "lastname_desc" ? "active" : "inactive";
                                        string contactSortAscClass = ViewData["ContactSort"].ToString() == "contact_asc" ? "active" : "inactive";
                                        string contactSortDescClass = ViewData["ContactSort"].ToString() == "contact_desc" ? "active" : "inactive";
                                        string emailSortAscClass = ViewData["EmailSort"].ToString() == "email_asc" ? "active" : "inactive";
                                        string emailSortDescClass = ViewData["EmailSort"].ToString() == "email_desc" ? "active" : "inactive";
                                        string dateOfBirthSortAscClass = ViewData["DateOfBirthSort"].ToString() == "dateofbirth_asc" ? "active" : "inactive";
                                        string dateOfBirthSortDescClass = ViewData["DateOfBirthSort"].ToString() == "dateofbirth_desc" ? "active" : "inactive";
                                        string readSortAscClass = ViewData["ReadSort"].ToString() == "read_asc" ? "active" : "inactive";
                                        string readSortDescClass = ViewData["ReadSort"].ToString() == "read_desc" ? "active" : "inactive";
                                        string writeSortAscClass = ViewData["WriteSort"].ToString() == "write_asc" ? "active" : "inactive";
                                        string writeSortDescClass = ViewData["WriteSort"].ToString() == "write_desc" ? "active" : "inactive";
                                    }
                                    <th>
                                        <a asp-page="./Index" asp-route-firstNameSort="firstname_asc" class="@firstNameSortAscClass">
                                            First Name @if (ViewData["FirstNameSort"].ToString() == "firstname_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-firstNameSort="firstname_desc"
                                           class="@firstNameSortDescClass">
                                            First Name @if (ViewData["FirstNameSort"].ToString() == "firstname_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>

                                    </th>

                                    <!-- LastName column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-lastNameSort="lastname_asc" class="@lastNameSortAscClass">
                                            Last Name @if (ViewData["LastNameSort"].ToString() == "lastname_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-lastNameSort="lastname_desc" class="@lastNameSortDescClass">
                                            Last Name @if (ViewData["LastNameSort"].ToString() == "lastname_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>

                                    <!-- Contact column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-contactSort="contact_asc" class="@contactSortAscClass">
                                            Contact @if (ViewData["ContactSort"].ToString() == "contact_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-contactSort="contact_desc" class="@contactSortDescClass">
                                            Contact @if (ViewData["ContactSort"].ToString() == "contact_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>

                                    <!-- Email column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-emailSort="email_asc" class="@emailSortAscClass">
                                            Email @if (ViewData["EmailSort"].ToString() == "email_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-emailSort="email_desc" class="@emailSortDescClass">
                                            Email @if (ViewData["EmailSort"].ToString() == "email_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>
                                    <!-- DateOfBirth column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="dateofbirth_asc" class="@dateOfBirthSortAscClass">
                                            Date of Birth @if (ViewData["DateOfBirthSort"].ToString() == "dateofbirth_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="dateofbirth_desc" class="@dateOfBirthSortDescClass">
                                            Date of Birth @if (ViewData["DateOfBirthSort"].ToString() == "dateofbirth_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>

                                    <!-- Read column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="read_asc" class="@readSortAscClass">
                                            Read @if (ViewData["ReadSort"].ToString() == "read_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="read_asc" class="@readSortDescClass">
                                            Read @if (ViewData["ReadSort"].ToString() == "read_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>
                                    <!-- Write column -->
                                    <th>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="write_asc" class="@writeSortAscClass">
                                            Wrire @if (ViewData["WriteSort"].ToString() == "write_asc")
                                            {
                                                <span>▲</span>
                                            }
                                        </a>
                                        <a asp-page="./Index" asp-route-dateOfBirthSort="write_asc" class="@writeSortDescClass">
                                            Read @if (ViewData["WriteSort"].ToString() == "write_desc")
                                            {
                                                <span>▼</span>
                                            }
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Customers.Count; i++)
                                {
                                    <tr>
                                        <td asp-for="@Model.Customers[i].Id">@Model.Customers[i].Id</td>
                                        <td><label name= "@Model.Customers[i].FirstName" id="FirstName_@Model.Customers[i].FirstName" asp-for="@Model.Customers[i].FirstName">@Model.Customers[i].FirstName</label></td>
                                        <td><label name= "@Model.Customers[i].LastName" id="LastName_@Model.Customers[i].Id" asp-for="@Model.Customers[i].LastName"> @Model.Customers[i].LastName</label></td>
                                        <td><label name= "@Model.Customers[i].Contact" id="Contact_@Model.Customers[i].Id" asp-for="@Model.Customers[i].Contact"> @Model.Customers[i].Contact</label></td>
                                        <td><label name= "@Model.Customers[i].Email" id="Email_@Model.Customers[i].Id" asp-for="@Model.Customers[i].Email"> @Model.Customers[i].Email</label></td>
                                        <td><label name= "@Model.Customers[i].DateOfBirth" id="DateOfBirth_@Model.Customers[i].Id" asp-for="@Model.Customers[i].DateOfBirth"> @Model.Customers[i].DateOfBirth</label></td>
                                        <td> <input type="checkbox" name= "@Model.Customers[i].Read"  id="Read_@Model.Customers[i].Id" name="Read_@Model.Customers[i].Id" asp-for="@Model.Customers[i].Read" /></td>
                                        <td> <input type="checkbox" name= "@Model.Customers[i].Write"  id="Write_@Model.Customers[i].Id" name="Write_@Model.Customers[i].Id" asp-for="@Model.Customers[i].Write" /></td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                        <div>
                            Page @(Model.PageNumber) of @((int)Math.Ceiling((double)Model.TotalItems / Model.PageSize))
                            <nav>
                                <ul class="pagination">
                                    @for (int i = 1; i <= (int)Math.Ceiling((double)Model.TotalItems / Model.PageSize); i++)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                            <a class="page-link" href="?pageNumber=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                        <button id="saveBtn" type="submit">Save</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
 

    <button id="openPopupButton" type="button">Add Customer</button>
    <div id="popupContent" style="display: none;" class="custom-modal-content">
        <div id="popupForm">
            <form id="customerForm">
                <input type="text" id="popupFirstName" placeholder="First Name"><br>
                <input type="text" id="popupLastName" placeholder="Last Name"><br>
                <input type="text" id="popupContact" placeholder="Contact"><br>
                <input type="text" id="popupEmail" placeholder="Email"><br>
                <input type="date" id="popupDateOfBirth"><br>
                <input type="checkbox" id="popupRead"><br>
                <input type="checkbox" id="popupWrite"><br>
            </form>
        </div>
    </div>


</div>
<style>
    /* Custom CSS for modal content */
    .custom-modal-content {
        background-color: #fff; /* Set background color */
        padding: 20px;
    }

    .custom-textbox {
        background-color: #f0f0f0; /* Set textbox background color */
        border: 1px solid #ccc; /* Set textbox border */
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Active state for sorting indicator */
    .active {
        color: green;
        display: block;
    }

    /* Inactive state for sorting indicator */
    .inactive {
        color: gray; /* Change color to indicate inactive state */
        display: none;
    }

    .rightSide {
        overflow: hidden;
        clear: both;
        float: right;
    }
</style>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>

    <script>
        function searchItems(event) {
            var searchString = event.target.value.trim();
            if (searchString.length > 0) {
                $.ajax({
                    url: '/Index',
                    type: 'GET',
                    data: { searchString: searchString },
                    success: function(result) {
                        $('#customerDatatable tbody').html(result);
                    }
                });
            } else {
                $('#customerDatatable tbody').html('');
            }
        }
    </script>
}